Repository Filify-app/fireplace, pull requests merged in 2022-10, with the labels that each got.

#17 Fix conflicting tests
  src/firestore/client/mod.rs
Labels: bug

#14 Fix bug to allow creating documents in nested collections
  src/firestore/client/mod.rs
  tests/create_document.rs
Labels: bug, Firestore

#18 Add collection group query support to Firestore
  README.md
  src/firestore/client/mod.rs
  src/firestore/query.rs
Labels: bug, enhancement, Firestore

#19 Let user fetch all documents in collection
  src/firestore/client/mod.rs
Labels: enhancement, Firestore

#20 Refactor get_documents
  src/firestore/client/mod.rs
Labels: Firestore
